/* Profile.css */

/* Для больших экранов всё остаётся как есть */

/* Планшет: одна колонка */
@media (max-width: 768px) {
    .profile-grid {

    }
    .my-posts-item,
    .friends-item {
        width: 100% !important;           /* каждый item растягиваем */
    }
}

/* Телефон: уменьшаем отступы и аватар */
@media (max-width: 480px) {
    .profile-info-avatar {
        width: 80px !important;
        height: 80px !important;
    }
    .MuiGrid-root {
        padding: 4px !important;
    }
}

.profile-grid {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    justify-content: stretch;

}