.content {
    grid-area: c;
    background-color: cornflowerblue;
}


.item {
    color: lightgoldenrodyellow;
}
.postsBlock{
    color: red;
    background-color: cornflowerblue;
}

.posts {
    margin-top: 10px;
}